.github/* @colack
__tests__/* @colack
docs/* @colack
src/* @colack
.gitattributes @colack
.gitignore @colack
.mailmap @colack
.npmignore @colack
biome.json @colack
CHANGELOG.md @colack
CODE_OF_CONDUCT.md @colack
CONTRIBUTING.md @colack
jest.config.js @colack
LICENSE @colack
package.json @colack
package-lock.json @colack
README.md @colack
SECURITY.md @colack
tsconfig.json @colack
tsup.config.ts @colack